.container {
    width: 1280px;
    height: 720px;
    background-color: #E1DDDA;
    margin: 10px auto 10px auto;
}

#animate {
    position: absolute;
    width: 620px;
    height: 500px;
    margin: 80px 60px 0 80px; 
    overflow: hidden;
    border: 5px solid white;
}


#animate img {
position:absolute;
left:0;
}

@-webkit-keyframes animateFadeInOut {
0% {
opacity:1;
}
17% {
opacity:1;
}
25% {
opacity:0;
}
92% {
opacity:0;
}
100% {
opacity:1;
}
}
@-moz-keyframes animateFadeInOut {
0% {
opacity:1;
}
17% {
opacity:1;
}
25% {
opacity:0;
}
92% {
opacity:0;
}
100% {
opacity:1;
}
}
@-o-keyframes animateFadeInOut {
0% {
opacity:1;
}
17% {
opacity:1;
}
25% {
opacity:0;
}
92% {
opacity:0;
}
100% {
opacity:1;
}
}
@keyframes animateFadeInOut {
0% {
opacity:1;
}
17% {
opacity:1;
}
25% {
opacity:0;
}
92% {
opacity:0;
}
100% {
opacity:1;
}
}
#animate img {
-webkit-animation-name: animateFadeInOut;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: infinite;
-webkit-animation-duration: 8s;
-moz-animation-name: animateFadeInOut;
-moz-animation-timing-function: ease-in-out;
-moz-animation-iteration-count: infinite;
-moz-animation-duration: 8s;
-o-animation-name: animateFadeInOut;
-o-animation-timing-function: ease-in-out;
-o-animation-iteration-count: infinite;
-o-animation-duration: 8s;
animation-name: animateFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 8s;
}
#animate img:nth-of-type(1) {
-webkit-animation-delay: 6s;
-moz-animation-delay: 6s;
-o-animation-delay: 6s;
animation-delay: 6s;
}
#animate img:nth-of-type(2) {
-webkit-animation-delay: 4s;
-moz-animation-delay: 4s;
-o-animation-delay: 4s;
animation-delay: 4s;
}
#animate img:nth-of-type(3) {
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
-o-animation-delay: 2s;
animation-delay: 2s;
}
#animate img:nth-of-type(4) {
-webkit-animation-delay: 0;
-moz-animation-delay: 0;
-o-animation-delay: 0;
animation-delay: 0;
}

.topproduct {
    background-color: #B9DFE2;
position: absolute;
  width: 140px;
  height: 140px;
    margin: 50px 0 0 50px;
    border-radius: 50%;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    -webkit-transform: rotate(-25deg);
}

.topproduct p {
padding-top: 15px;
}

.title {
  position: absolute;
  width: 490px;
  height: 140px;
  margin: 80px 60px 0 730px;
  font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #9F9492;
}

.description {
  position: absolute;
  word-wrap: break-word;
  width: 490px;
  height: 230px;
  margin: 210px 60px 0 730px;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
        color: #9F9492;
}

.actie {
    position: absolute;
  width: 490px;
  height: 50px;
  margin: 450px 60px 0 730px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 15x;
        color: #9F9492;
  display: inline-block;
}

.actieprijs {
    position: absolute;
  width: 490px;
  height: 50px;
  margin: 470px 60px 0 840px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 15x;
        color: #9F9492;
  display: inline-block;
  text-decoration: line-through;
}

.price {
  position: absolute;
  width: 490px;
  height: 50px;
  margin: 510px 60px 0 730px;
  font-family: 'Open Sans', sans-serif, helvetica;
  font-size: 40px;
  line-height: 0px;
        color: #9F9492;
}